<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <a class="navbar-brand" href="#"><img src="{{imglogo}}" width="300" height="100"></a>
  <div class="container-fluid">

    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link active text-dark" style="font-size:25px;" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" style="font-size:25px;" href="#">Shop</a>
      </li>


    </ul>
  </div>
</nav>

<div style="text-align: center;">
  <hr>
</div>

<body>

  <router-outlet></router-outlet>
</body>